/* common styles for all pages */

* {
    box-sizing: border-box;
    border: 0;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header h1 {
    color: #E98580;
    font-family: 'Lato', sans-serif;
    font-size: 6rem;
    padding-top: 100px;
    text-align: center;
    text-shadow: 2px 2px #DDD;
}

.button {
    align-content: center;
    background-color: #FDD2BF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #DF5E5E;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 50px;
    justify-content: center;
    margin: 25px auto;
    width: 230px;
}

footer {
    bottom: 5px;
    color: #DF5E5E;
    position: absolute;
    width: 100%;
}

footer a {
    text-decoration: underline;
    color: #DF5E5E;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 4.2rem;
        padding-top: 80px;
    }

    .button {
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 1.3rem;
        height: 45px;
        margin: 20px auto;
        width: 170px;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 420px) {
    header h1 {
        font-size: 3.5rem;
        padding-top: 80px;
    }

    .button {
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 1rem;
        height: 40px;
        width: 150px;
    }

    footer {
        font-size: 0.7rem;
    }
}

/* hour, minutes, seconds - classes in game.html */