/* styles specific for game.html page */

body {
    background-color: #F9FAED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.utilities-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 2%;
}

.board-wrapper {
    width: 560px;
    height: 560px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.field {
    align-items: center;
    background-color: #CCCC04;
    border-radius: 5px;
    border: 2px solid #1F1F1F;
    color: #1F1F1F;
    display: flex;
    font-size: 1.4rem;
    height: 40px;
    justify-content: center;
    width: 200px;
}

.card {
    background-color: #AAAA02;
    border-radius: 5px;
    border: 2px solid #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 120px;
    margin: 10px;
}

.card:hover {
    background-color: #999901;
    transform: scale(0.97);
    transition: transform 0.2s;
    cursor: pointer;
}

.front-face {
    display: inline-block;
    width: 100%;
    height: 50%;
}

.back-face {
    display: none;
}

.popup-wrapper {
    display: none;
}

/* popup class */

/* popup-close */

/* popup-content */

/* hour, minutes, seconds classes */