body {
    height: 100vh;
    width: 100vw;
}

nav {
    margin-top: 120px;
}

li {
    list-style-type: none
}

.menu-wrapper {
    /*background: url(/images/background.svg) 40% 40%/cover no-repeat #F7F7F7;*/
    background-image: url(/images/background.svg);
    background-position: 70% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    bottom: 0;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    nav {
        margin-top: 80px;
    }
    .menu-wrapper {
        background-position: bottom 0% right 20%;
    }
}

@media screen and (max-height: 490px) {
    body {
        height: auto;
    }
    header h1 {
        font-size: 3.5rem;
        padding-top: 40px;
    }
    nav {
        margin-top: 20px;
    }
    footer {
        font-size: 0.7rem;
        position: static;
    }
    .button {
        border-radius: 5px;
        font-size: 1.3rem;
        height: 45px;
        margin: 20px auto;
        width: 170px;
    }
    .menu-wrapper {
        position: static;
    }
}

@media screen and (max-height: 630px) {
    nav {
        margin-top: 40px;
    }
    footer {
        font-size: 0.8rem;
    }
}