/* styles specific for index.html page */

body {
    height: 100vh;
    width: 100vw;
}

.menu-wrapper {
    background: url(/images/background.svg) center center/cover no-repeat #F7F7F7;
    height: 100%;
    width: 100%;
}